@import url('https:fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Reset básico */

/* Setting up just desktop light mode*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: 'nunito', sans-serif; */
  font-size: 18px;
  line-height: 1.4;
  display: block;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--main-bg, #aa9494);
  justify-content: center; 
  text-align: center;
}
/* Tema Claro */
body.light-mode {
  font-family: 'nunito', sans-serif;
  background-color: #f4f4f4;
  color: #222;
  --hover-color: #7a2bd4;
}


/* Tema Escuro */
body:not(.light-mode) {
  font-family: proxima nova,sans-serif;
  font-size: 20px;
  --main-bg: #1E1E3F; /* cor de fundo escuro */
  /* #2D2B55; */
  color: #9EFFFF;
  --hover-color: #FFDD57; /* amarelo, bom para fundo escuro */
}
body:not(.light-mode) .menu-toggle:focus {
  font-size: 1000px;
  outline: none;
}
/* DARK Sidebar */
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza tudo horizontalmente */
  justify-content: center; /* ADICIONE ISSO para centralizar verticalmente */
  text-align: center;
}

.sidebar {
  flex-shrink: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para empurrar os ícones sociais pra base */
  padding: 1.0rem;
  background: #1e1e1e url('/assets/Infinite_Loop.gif')
  no-repeat center center;
  background-size: cover;
  border: 1px solid #1f2020;
  height: 100vh; /* força ocupar a altura toda */
  min-height: 100vh;
  overflow: visible; /* importante */
}

.language-switcher {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0rem;
  flex-wrap: wrap;
} 

.post-meta {
  display: flex;
  /* background-color: #2D2B55 ; */
  color: #FAEFA5;
   /* #9EFFFF; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}



.profile-img {
  width: 110px;
  height: 110px;
  margin-bottom: 1rem;
  border: 2px solid black;
  border-radius: 50%;
}

body:not(.light-mode) .profile-img {
  border: 2px solid #dee6e6;
}

.profile-name {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 0.4rem;
  color: #FAD000;
  /* text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; */
}


.profile-title {
  font-family: droid sans mono, sans-serif;
  font-size: 1rem;
  color: #FFEE80;
  /* #beaafa; */
  margin-bottom: 0.8rem;
}

.switch-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1102;
  }

/* The sidebar links formatting */
body:not(.light-mode) .main-nav a {
  font-family: proxima nova, sans-serif;
  color: #9EFFFF;
  /* #FF9D00; */
  /* beb8e0; */
  font-weight: 530;
  font-size: 1rem;
  background-color: #1a1a1a93;
  border-color: #A599E9;
  border-radius: 70%;
}


body.light-mode .main-nav a {
  font-weight: 530;
  border: 2px solid #000;
  background-color: #e2b4b4;
  border-color: #f10202;
  border-radius: 70%;
}
/* ------------------------------------- */
.nav-link, .social-link {
  font-weight: 530;
  display: block;
  margin: 0.7rem 0;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #FF9D00
  /* #7c85df; */
  text-align: center;
  width: 100%;
  transform: scale(1);
}

.nav-link:hover, .social-link:hover {
  color: var(--hover-color);
  transform: translateX(-5%);
}
.social-link:hover {
  transform: scale(1.2);
}

/* body.light-mode .nav-link:hover,
body.light-mode .social-link:hover {
  color: var(--hover-color) !important;
} */

.social-links {
  display: flex !important;
  justify-content: center;
  overflow: visible !important;
  gap: 12px;
  margin-top: auto;
  width: 100%;
  margin-bottom: 0.5rem;
  overflow: visible !important;
}

.social-link {
  font-size: 24px;
  color: #937bd3;
  text-decoration: none;
  transition: color 0.5s ease;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: filter 3s ease;
  vertical-align: middle;
  filter: brightness(1) invert(0);
}

body.dark-mode .social-icon {
  filter: invert(72%) sepia(15%) saturate(554%) hue-rotate(225deg) brightness(120%) contrast(92%);
}

.social-link .x-icon,
.social-link .bluesky-icon {
  filter: invert(72%) sepia(85%) saturate(654%) hue-rotate(200deg) brightness(100%) contrast(72%);
  width: 24px;
  height: 24px;
  vertical-align: middle;
  color: #937bd3;
  text-decoration: none;
  transition: color 0.5s ease;
}

/* Cards do Portfólio */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  background-color: #2D2B55;
  /* #A599E9 */
  /* #1e1e1e; */
  color: #e0e0e0;
  /* border-radius: 2px; */
  /* border: 2px solid #1f2020; */
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 2px solid #0a88c7;
}

.card h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.card a {
  text-decoration: none;
  color: #FAD000;
  font-weight: 600;
  -webkit-text-stroke: 1px #000000;
  /* text-stroke: 1px #000000; */
  border-radius: 2px solid #000000;
  transition: color 0.3s ease;
}

body.light-mode .card a {
  color: #0e005f; /* Azul claro no modo claro */
  -webkit-text-stroke: 0.2px #8d8686; 
  
}
.card a:hover {
  color: #4D21FC;
   /* #66ccff; */
}

.card small {
  font-size: 1.2rem;
  color: #215a00;
}
/* body.light-mode .comments-section {
  margin-top: 2rem;
  padding: 1.5rem;
  color: black;
  border-radius: 8px;
} */

body.light-mode .card {
  background-color: #fcfbfb;
  color: #222;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #1f2020;
}

body.light-mode .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 2px solid #0a88c7; /* Adiciona borda azul clara no hover */
}

body.light-mode .card a:hover {
  color: #66ccff;
}

/* Switch de idioma */
.language-switcher {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0rem;
  flex-wrap: wrap;
}

.lang-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 0rem;
  transition: transform 0.2s ease;
}

.lang-link:hover {
  transform: scale(1.4);
}

.lang-flag {
  width: 28px;
  height: auto;
  object-fit: cover;
  border: 2px solid #000000;
  border-radius: 2px;
}

/* Conteúdo principal */
.main-content {
  font-family: proxima nova, sans-serif;
  font-size: 20px;
  flex: 1;
  padding: 2rem 3rem;
  min-height: 100vh;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Botão de menu (hamburguer) */
.menu-toggle {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  /* background: none; */
  color: white;
  border: none;
  z-index: 1001;
  cursor: 
}
body.light-mode .menu-toggle {
  color: #222; /* Ou qualquer cor escura que contraste com o fundo claro */
}

/* Container do layout */
.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


/* RESPONSIVIDADE */
@media (max-width: 768px) and (orientation: portrait) {
  body {
    flex-direction: column;
    overflow: hidden;
  }
  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 1px;
  }
/* Sidebar */
   
  .main-content  {
    display: none;
  } 
  .sidebar {
    display: none;
  }

  body.sidebar-only .sidebar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    height: 100%;
  }
  body.sidebar-only .sidebar-header {
    height: 100%;
    justify-content: center;
  }
  body.sidebar-only .language-switcher {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 95%;
    transform: translateX(-50%);
    z-index: 1001;
    gap: 0.5rem;
  }

  
  body.sidebar-only .main-content {
    display: none;
  }
  body.show-main .main-content {
    display: flex;
  }

  /* Corrige: esconde sidebar quando está no modo show-main */
  body.show-main .sidebar {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1100;
    font-size: 29px;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
  }

  .switch-container {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .profile-img {
    width: 140px;
    height: 140px;
    margin-top: 1rem;
    border-radius: 50%;
    
  }

  .profile-name {
    font-size: 1.8rem;
  }

  .profile-title {
    font-size: 1.5rem;
    margin-bottom: 0.01rem;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    width: 100%;
  }

  .nav-link {
    display: flex;
    font-size: 1.3rem;
    margin: 0.1rem 0;
    padding: 0rem 0.3rem;
    width: auto;
    text-align: center;
    height: auto;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1px;
  }

  .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}


/* Telas horizontais pequenas */
@media (max-height: 500px) and (orientation: landscape) {
  .layout-container {
    flex-direction: row;
    min-height: 100vh;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 100vh;
    padding: 1rem;
  }

  .main-content {
    flex: 1;
    min-height: 100vh;
    overflow-y: auto;
    padding: 1.5rem;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: nowrap;
    gap: 12px;
    margin-top: auto;

  }
}
  @supports (height: 100dvh) {
  .main-content,
  .sidebar,
  .layout-container {
    min-height: 100dvh;
  }
}
body.light-mode .sidebar {
  background-image: linear-gradient(rgba(250, 1, 1, 0.1), rgba(51, 161, 7, 0.253)), url('/assets/black and white loop GIF by Doze Studio.gif');
  /* background:  #1e1e1e url('/assets/black and white loop GIF by Doze Studio.gif') no-repeat center center; */
  background-size: cover;
}

body.light-mode .profile-name {
  color: #1a1a1a;
  margin-bottom: 0.4rem;
  border-color: 2px solid #1f2020;
  text-shadow: none; /* Remove shadow no modo claro */
   /* cor do título no modo claro */
  /* font-weight: 600; */
}

body.light-mode .profile-title {
  color: #444444; /* cor do subtítulo no modo claro */
}

body.light-mode .sidebar .nav-link,
body.light-mode .sidebar .social-link,
body.light-mode .sidebar .lang-link {
  color: #111;
}

body.light-mode .sidebar .social-link img,
body.light-mode .sidebar .lang-flag {
  filter: none;
}
body.sidebar-only .main-content {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .container {
    flex-direction: row;
  }

  #main-content {
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #sidebar.hidden + #main-content {
    display: flex;
  }

  /* Oculta #sidebar quando classe "hidden" é aplicada */
  #sidebar.hidden {
    display: none;
  }

  /* Impede flickering de main-content antes da transição */
  body:not(.show-main) #main-content {
    display: none !important;
  }

  body.show-main #main-content {
    display: flex !important;
  }

  /* Corrige scroll e overflow */
  html, body {
    overflow: hidden;
    height: 100vh;
  }
}
